<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>FineJoke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="lead display-4">Fine Joke</h1>
        <hr class="my-4">
        <p>
            <span>The best joke site in the world. Even this app is a joke!</span>
        </p>

    </div>
    <h1 class="display-4" style="text-align:center">Insert a new joke!</h1>
    <div class="card sticky-top">
        <a href="#" th:href="@{/new}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Insert it!</a>
    </div>
    <table class="table">
        <tr>
            <td>#</td>
            <td>Kategorija</td>
            <td>Vic</td>
            <td>Likes</td>
            <td>Dislikes</td>
            <td>Razlika</td>
        </tr>
        <tr th:each="joke,iter : ${allJokes}">

            <!-- prvi stupac -->
            <td th:text="${iter.index} + 1"></td>

            <!-- drugi stupac -->
            <div th:each="category : ${allCategories}">
                <td th:if="${category.id} == ${joke.category_id}" th:text="${category.name}"></td>
            </div>

            <!-- treci stupac -->
            <td th:text="${joke.content}"></td>

            <!-- cetvrti stupac -->
            <td>
                <form th:action="@{/}" th:object="${joke}" th:method="put">
                    <button type="button" class="btn btn-primary btn-block btn-success" th:onclick="|likeAJoke('${joke.id}')|" th:text="${joke.likes}"></button>
                </form>
            </td>

            <!-- peti stupac -->
            <td>
                <form th:action="@{/}" th:object="${joke}" th:method="put">
                    <button type="button" class="btn-primary btn-block btn btn-danger" th:onclick="|dislikeAJoke('${joke.id}')|" th:text="${joke.dislikes}"></button>
                </form>
            </td>

            <!-- sesti stupac -->
            <td th:text="${joke.likes} - ${joke.dislikes}"></td>
        </tr>
    </table>
</div>

</body>
</html>