<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>FineJoke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="lead display-4">Fine Joke</h1>
        <hr class="my-4">
        <p>
            <span>The best joke site in the world. Even this app is a joke!</span>
        </p>

    </div>
    <h1 class="display-4" style="text-align:center">Insert a new joke!</h1>
    <div class="card sticky-top">
        <a href="#" th:href="@{/new}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Insert it!</a>
    </div>
    <table class="table">
        <tr>
            <td>#</td>
            <td>Kategorija</td>
            <td>Vic</td>
            <td>Likes</td>
            <td>Dislikes</td>
            <td>Razlika</td>
        </tr>
        <!--
        <div th:each="jokePage : ${allJokesPaginated}">

        </div>
        -->
        <tr th:each="joke,iter : ${currentPage} == null ? ${firstJokePage} : ${currentPage}">

            <!-- prvi stupac -->
            <td th:with="counter = ${(iter.index + 1) + (currentPageNumber == null ? 0 : (currentPageNumber - 1) * 10)}" th:text="${counter}"></td>

            <!-- drugi stupac -->
            <div th:each="category : ${allCategories}">
                <td th:if="${category.id} == ${joke.category_id}" th:text="${category.name}"></td>
            </div>

            <!-- treci stupac -->
            <td th:text="${joke.content}"></td>

            <!-- cetvrti stupac -->
            <td>
                <form th:action="@{/}" th:object="${joke}" th:method="put">
                    <button type="button" class="btn btn-primary btn-block btn-success" th:onclick="|likeAJoke('${joke.id}')|" th:text="${joke.likes}"></button>
                </form>
            </td>

            <!-- peti stupac -->
            <td>
                <form th:action="@{/}" th:object="${joke}" th:method="put">
                    <button type="button" class="btn-primary btn-block btn btn-danger" th:onclick="|dislikeAJoke('${joke.id}')|" th:text="${joke.dislikes}"></button>
                </form>
            </td>

            <!-- sesti stupac -->
            <td th:text="${joke.likes} - ${joke.dislikes}"></td>
        </tr>
    </table>
    <div style="text-align: center">
        <nav aria-label="Page navigation">
            <ul style="display: inline-block" class="pagination" th:each="jokePage, iter : ${allJokesPaginated}">
                <li class="page-item"><a class="page-link" th:href="@{/page/} + (${iter.index} + 1)" th:method="get" th:text="${iter.index} + 1"/></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>