<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Joke input form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">

    <h1 class="display-4" style="text-align:center">Joke input form</h1>

    <br/>
    <form th:action="@{/new}" th:object="${joke}" method="post">
        <tr>
            <td>
                <div class="w-100 p-3" style="background-color: #eee;">
                    <div class="input-group input-group-lg">
                        <textarea class="form-control" aria-label="With textarea" th:field="*{content}"></textarea>
                    </div>
                </div>
            </td>
        </tr>


        <br/>
        <tr>
            <td>
                <select class="form-control form-control-lg" th:field="*{id}">
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                </select>
            </td>
        </tr>

        <br/>
        <br/>
        <br/>

        <tr>
            <td>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" value="Submit" class="btn btn-primary btn-block">Submit it!</button>
                </div>
            </td>
        </tr>

    </form>
</div>
</div>
</body>
</html>