<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Joke input form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h1 class="display-4">Successfully inserted a joke! </h1>
        <p th:inline="text">[[${jokeForm.content}]]</p>
    </div>

    </br>
    <a href="#" th:href="@{/}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Return home</a>
    <a href="#" th:href="@{/new}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Upload new joke!</a>


</div>
</body>
</html>